.contenitore {
  width: 100%;
  height: 1600px;
}

/* settings header */
header{
  margin: 20px 0px 0px 20px;
  padding-bottom: 10px;
}
/* fine settings header */

/* impostazioni del background e del testo */
body {
  background-position: top;
  background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1600px;
  margin: 0 auto;
  color: #fff;
}

.logo-text {
  font-size: 25px;
  display: inline;
  color: white;
  position: relative;
  bottom: 25px;
}
/* impostazioni del background e del testo */

/* settings emulazione numero cerchiato */
#numero-cerchiato {
  background-color: #FAA501;
  padding: 8px;
  border-radius: 50%;
  font-size: 30px;
}
/* fine settings emulazione numero cerchiato */

/* settings della parte centrale del codice html */
.mail-non-lette {
  background-color: #D3D3D3;
  border-bottom: 2px solid black;
}

.mail-lette {
  background-color: #FFFFFF;
  border-bottom: 2px solid black;
}

.righe-sinistra {
  display: inline-block;
  width: 45%;
}

.righe-destra {
  display: inline-block;
  width: 53%;
}

.descrizione-mail {
  color: black;
}

.testo-mail {
  color: #878787;
}
/* settings della parte centrale del codice html */

/* footer */
footer {
  text-align: center;
}

#gmail-footer {
  font-size: 28px;
}
/* fine footer */
